<p id="notice"><%= notice %></p>

<p>
  <strong>Cinemaname:</strong>
  <%= @cinema.cinemaname %>
</p>

<p>
  <strong>Visitors name:</strong>
  <%= @cinema.visitors_name %>
</p>

<%= link_to 'Edit', edit_cinema_path(@cinema) %> |
<%= link_to 'Back', cinemas_path %>
